<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">

	<!-- <link rel="stylesheet" href="/public/assets/css/style.css" type="text/css" /> -->
	<!-- <script src="/assets/js/quotes.js"></script> -->
	<script src="https://code.jquery.com/jquery.js"></script>

	<style>
		#leftList li {
			padding: 5px;
			margin: 5px;
			background: #186081;
			list-style-type: none;
		}

		#rightList li {
			padding: 5px;
			margin: 5px;
			background: #E2D303;
			list-style-type: none;
		}
	</style>


	<title>Eat a Burger</title>

</head>

<body>
	{{{ body }}}
</body>

</html>